div {
    form {
        .searchInput {
            height: 31.5px;
            border-radius: 10px 0px 0px 10px;
            border: 1px solid #127FFF;
        }

        .searchButton {
            background-color: #127FFF;
            color: #fff;
            border: none;
            height: 35px;
            border-radius: 0px 10px 10px 0px;
        }
    }
}